@use "variables/colors";

@use "common-properties/buttons";
@use "common-properties/layout";

body {
    background: fixed colors.$background center no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    background-color: rgb(255, 255, 255);
    width: 80vw;
    max-width: 500px;
    min-height: 15em;
    padding: 2em;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;

    #add-item-btn {
        @extend .common-buttons;
        position: relative;
        display: block;
    }

    #section__form {
        height: 0px;
        overflow-y: hidden;
        display: flex;
        gap: 0.5em;
        @extend .input-container-common;     

        &.active {
            height: 100%;
        }

        .task-input-container {
            @extend .input-container-common;
        }

        .task-deadline-container {
            @extend .input-container-common;
        }

        .task-status-container {
            @extend .input-container-common;
            
            #status-input {
                background-color: transparent;
                border: none;
                border-bottom: 1px solid black;

                option {
                    background-color: white;
                }
            }
        }

        button {
            @extend .common-buttons;
        }
    }
    #items {
        display: block;

        #items__container {
            list-style: none;
            padding-left: 0px;
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 0.5em;
            .items__container__task {
                div {
                    padding: 2px 1em 5px 3em;
    
                    h2 {
                        line-height: 0.1;
                        font-size: 12;
                    }
                }
                &:nth-child(even) {
                    background-color: lightgrey;
                }
            }
        }
        #have-tasks {
            display: block;
            
        }
    }
    #single-task {
        display: none;
    }
}

.active-task {
    position: relative;
    background-color: white;
    height: 6em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    width: 100%;

    div {
        align-self: self-start;
    }
}

.edit-btn {
    @extend .common-buttons;
}

.delete-btn {
    text-transform: uppercase;
    padding: 1em 2em;
    width: 100%;
    font-weight: bolder;
    transition: 0.1s;    
    border: 2px solid red;
    background-color: red;
    color: white;
    transition: 0.2s;

    &:hover {
        background-color: white;
        color: red;
    }
}




